@import "bootstrap/bootstrap";
@import "fancybox/fancybox";

@btn-font-weight: 300;
@font-family-sans-serif: Arial, sans-serif;
@font-face {
    font-family: jeannie_font;
    src: url('/fonts/Jeannie.ttf') format('truetype');
}
@font-face {
    font-family: Village;
    src: url('/fonts/Village.ttf') format('truetype');
}

@image-path: "/images";
body, label, .checkbox label {

	color: #333;
}
a:hover {
	text-decoration: underline;
}
ul.section>li{
	margin-bottom: 10px;
}

div.background>h1, div.background>h2 {
	color: #fff;
}
div.background>h2{
	margin-top: 50px;
}
h2.demo{
	font-size: 20px;
}
.background {
    background-image: url("../images/014-mark-rothko-theredlist.jpg");
	background-repeat: no-repeat;
    height: 250px;
	background-size: 100%;
    z-index: -1;
	margin: -90px 0 0 0;
	padding: 70px 0 0 50px;
}
.resume{
	width: 80%;
	padding-top: 50px;
}
.rwd-break {
	display: none;
}
ul.gallery{
	list-style-type:none;
}
ul.gallery>li{
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	
}
ul.gallery img {
	border: 1px solid #888;
}
@media (max-width: 768px) { 
	h1 {
	  font-size: 24px;
	}
	.rwd-break {
		display: inline;
	}
	ul.gallery {
		text-align: center;
	}

}
